/* Pseudo-elementos */

/* p::first-letter {
    font-size: 150px;
} */

p::first-line {
    background-color: peachpuff;
}


div.card {
    background-color: blue;
}

div {
    background-color: red !important; /* no usar seguido el !important */
}


/* Modelo de caja */

#a1 {
    background-color: brown;
    color: white;
    padding: 5px;
    border: 5px dotted black;
    margin: 5px;
}

#a1 h2 {
    background-color: black;
    margin: 0;
}


#a2 {
    background-color: blue;
}

#a2 p{
    background-color: tomato;
    border: 1px solid black;

    /* 10px los 4 lados */
    /* padding: 10px; */

    /* 10px superior-inferior */
    /* 10px izquierda y derecha */
    padding: 10px 20px;

    /* 5px superior */
    /* 25px inperior */
    /* 50px izq-der */
    padding: 5px 50px 25px;

    /* 5px superior */
    /* 10px derecha */
    /* 15px inferior */
    /* 20px izquierda */
    padding: 5px 10px 15px 20px;

    margin: 10px 30px 5px 30px; /* o se puede poner asi 10px 30px 5px */


}

#a3 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    padding: 5px;
}

#a4 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
}