/* p::first-letter {
    font-size: 150px;
} */

p::first-line{
    background-color: aquamarine;
}

div.card{
    background-color: blue;
}

div{
    background-color: red;
}
/* Modelo de caja */
#a1 {
    background-color: greenyellow;
    color: white;
    padding: 5px;
    border: 5px dotted black;
    margin: 5px;
}

#a1 h2{
    background-color: black;
    margin: 0px;
}

#a2 {
    background-color: red;
}

#a2 p{
    background-color:blue ;
    border: 3px solid black;
    /* 10px los 4 lados */
    /* padding: 10px; */
    /* Marjen 10px superior-inf
    Margen 20px izq-der */
    padding: 10px 20px;
    /* 5 superior */
    /* 50 izq-der/
    /* 25 inferior  */
    padding: 5px 50px 25px;
    /* 5 arriba */
    /* 10 DERECHA */
    /* 15 INFERIOR */
    /* 20 IZQ */
    padding:  5px 10px 15px 25px;

    margin: 10px 30px 5px;
    border-bottom: 1px solid pink;
}

#a3 {
    background-color: yellow;
    width:  200px;
    height: 200px;
    border: 5px solid black;
    padding: 5px ;
}

#a4 {
    background-color: yellow;
    width:  200px;
    height: 200px;
    border: 5px solid black;
    padding: 5px ;
    box-sizing: border-box;
}